@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');
body {
  font-family: 'Manrope', sans-serif;
  background-color: #303446;
}

h1, p {
  color: #c6d0f5;
}

table, th, td {
  border: 1px;
  border-color: #414559;
}

tr:nth-child(even) {
  background-color: #a6d189;
}

.button {
  background-color: #626880;
  border-radius: 12px;
  cursor: pointer;
  font-size: 16px;
  padding: 15px 32px;
  text-align: center;
}

