@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');
body {
  font-family: 'Manrope', sans-serif;
}

table, th, td {
  border: 1px solid black;
}
tr:nth-child(even) {
  background-color: #D6EEEE;
}
