@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');
body {
  font-family: 'Manrope', sans-serif;
  background-color: #303446;
  padding: 0%;
}

h1, p {
  color: #c6d0f5;
  text-align: center;
  padding-left: 30%;
  padding-right: 30%;
}
p.lowborder {
  border-bottom-style: solid;
}

img {
  border-radius: 15px;
}
img.Logo{
  float: left;
  max-height: 50px;
  max-width: auto;
}
img.banner{
  max-width: 500px;
  max-height: auto;
  border-radius: 5px;
}

table, th, td {
  border: 1px;
  border-color: #737994;
  color: #c6d0f5;
}
tr:nth-child(even) {
  background-color: #626880;
  color: #303446;
}

.button {
  background-color: #ca9ee6;
  border-radius: 12px;
  border: none;
  text-decoration: none;
  color: #303446;
  cursor: pointer;
  font-size: 16px;
  font-weight: 900;
  padding: 15px 32px;
  text-align: center;
}
.button:active {
  background-color: #414559;
  transform: translateY(4px);
}

div.usflbtn{
  position: absolute;
  top: 50%;
  left: 50%;
}

div.Header{
  position: sticky;
  top: 0;
  background-color: #414559;
  padding: 0%;
}

div.content{
  padding-left: 10%;
  padding-right: 10%;
}

 ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  background-color: #303446;
  display: flex;
}

ul li a {
  display: block;
  color: #c6d0f5;
  padding: 14px 16px;
  text-decoration: none;
  border-radius: 12px;
}

ul li a:hover {
  background-color: #ca9ee6;
  color: #303446;
}
