@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');
body {
  font-family: 'Manrope', sans-serif;
  background-color: #303446;
  font-weight: 700;
}

h1, p {
  color: #c6d0f5;
  text-align: center;
  padding-left: 5%;
  padding-right: 5%;
}
p.lowborder {
  border-bottom-style: solid;
}

img {
  border-radius: 15px;
}
img.Logo{
  float: left;
  max-height: 50px;
  max-width: auto;
}
img.banner{
  width: 500PX;
  height: auto;
  border-radius: 10px;
  margin: auto;
  justify-content: center;
  gap: 10px;
  display: flex;
}

table{
	background-color: #414559;
	border-radius: 10px;
	padding: 10px;
	font-size: 20px;
	gap: 10px;
}

table, th, td {
  color: #c6d0f5;
}
th {
  background-color: #626880;
  border-radius: 5px;
}

tr:nth-child(even) {
  background-color: #626880;
}

.button {
  background-color: #ca9ee6;
  border-radius: 12px;
  border: none;
  text-decoration: none;
  color: #303446;
  cursor: pointer;
  font-size: 15px;
  font-weight: 1000;
  padding: 20px 20px;
  text-align: center;
}
.button:active {
  background-color: #414559;
  transform: translateY(4px);
}

.button:hover{
  background-color: #a6d189;
  transition-duration: 1000ms;
}

.button:span{
  transition-duration: 1000ms;
}

div.usflbtn{
  justify-content: center;
  gap: 10px;
  display: flex;
}

div.tablecn{
  justify-content: center;
  align-items: center;
  height: auto;
  display: flex;
}

div.Header{
  position: sticky;
  top: 0;
  background-color: #414559;
  padding: 5px;
  border-radius: 12px
}

div.content{
  padding-left: 5%;
  padding-right: 5%;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  background-color: #414559;
  display: flex;
}

ul li a {
  display: block;
  color: #c6d0f5;
  padding: 14px 16px;
  text-decoration: none;
  border-radius: 12px;
}

ul li a:hover {
  background-color: #ca9ee6;
  color: #303446;
}
